<!-- <div class="p-3 m-0 border-0 bd-example m-0 border-0"> -->

          <!-- <img src="../../assets/home11.jpg" height="520" class="card-img home-img" alt="..."> -->
  <!-- <div class="card text-bg-dark">

<div class="card-img home-img">
      <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
    </div>
  </div> -->
  

<!-- </div> -->


<div class="main-content">
    <section id="home">
        <div class="p-3 m-0 border-0 m-0 border-0">
        <div class="background-image d-flex justify-content-center align-items-center">
            <div class="overlay"></div>
            <div class="text-content">
              <p class="display-6 heading-animation">Discover the Power of Natural Healing</p>
              <p class="lead text-animation">Unlock your body’s innate ability to heal through holistic therapies and the wisdom of nature, guiding you towards renewed health and well-being
              </p>
            </div>
          </div>
          </div>
    </section>
  
    <section id="about">
        <div class="p-3 m-0 border-0 m-0 border-0">
            <h1 class="heading-animation">Why Choose Us</h1>
            <div class="about-section">
                <div class="left-side">
                    <div class="carousel">
                        <div *ngFor="let image of images; let i = index" 
                             class="carousel-item" 
                             [class.active]="i === currentImageIndex">
                          <img [src]="image" alt="Carousel Image">
                        </div>
                  
                        <!-- <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden" (click)="prevImage()">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden" (click)="nextImage()">Next</span>
                          </button> -->

                        <!-- Left and Right Buttons for Manual Navigation
                        <button class="carousel-btn prev" (click)="prevImage()">&#10094;</button>
                        <button class="carousel-btn next" (click)="nextImage()">&#10095;</button> -->
                      </div>
                    </div>

                <div class="right-side">
 
                  <div class="content text-animation">
                    <p>Choose natural healing that listens to your body. We offer personalized care with proven, holistic therapies. Experience wellness the way nature intended</p>
                  </div>
                  <div class="toggle-section">
                    <h3 (click)="toggleVision()" class="clickable">
                      Vision
                    </h3>
                    <div *ngIf="showVision" @fadeIn class="vision-content">
                      <p>At our clinic, we envision a world where natural healing becomes the foundation for true wellness. Our vision is to guide individuals on a journey to optimal health by reconnecting them with the healing powers of nature. We strive to create a space where modern science meets ancient wisdom, offering sustainable, non-invasive treatments that empower the body to heal itself.</p>
                      <p>
                          Our ultimate goal is to foster a healthier, more balanced community, where people embrace preventive care, natural remedies, and lifestyle changes to achieve lasting well-being. With compassion and integrity, we aspire to be leaders in holistic health, setting a standard for natural, personalized healthcare</p>
                    </div>
                  </div>
                </div>
              </div>
         </div>     
          
          
    </section>
  
    <section id="services">
        <div class="p-3 m-0 border-0 m-0 border-0">
        <h1>Find Our Services</h1>
        <h4>Find Relief at Prarthana Nature Cure Clinic Health Clinic</h4>
        <!-- <div class=" row row-cols-1 row-cols-md-4 g-4">-->
           

        <div [@staggerAnimation]="isAnimationActive ? true : false" class="cards-container">
          <div class="card" *ngFor="let card of cardData">
            <img [src]="card.imgUrl" alt="Card Image" class="card-img"/>
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">
                {{ card.description }}   </p>
            </div>
          </div>
        </div>
        </div>
    </section>
    <section id="doctor">
      <div class="p-3 m-0 border-0 m-0 border-0">
        <h1>Find Our Team</h1>

    <div class="doctor-profiles">
      <div class="profile" *ngFor="let doctor of doctors">
        <img [src]="doctor.imageUrl" alt="{{doctor.name}}" class="profile-image">
        <div class="profile-info">
          <h3 class="profile-name">{{ doctor.name }}</h3>
          <p class="profile-speciality">{{ doctor.speciality }}</p>
          <p class="profile-description">{{ doctor.description }}</p>
        </div>
      </div>
    </div>
    </div>
    </section>
    
  
    <section id="contact" style="margin-top: 50px;">
        <div class="contact-section">
            <div class="map-container">
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.9253624779596!2d80.25238791425264!3d12.94873871940239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525c0d09b4c35b%3A0x946a6cbbad604c47!2sNeelankarai%2C%20Tamil%20Nadu%20600041%2C%20India!5e0!3m2!1sen!2sus!4v1696502233099!5m2!1sen!2sus" 
                width="100%" 
                height="400" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>
              
            </div>
            
            <div class="address-container">
              <h2>Location</h2>
              <p><strong>Address:</strong></p>
              <p>No 3,1st floor,</p>
              <p>Neelangarai, ECR Road, Chennai-600115</p>
          
              <p><strong>Email:</strong></p>
              <p><a href="prarthanaturecure@gmail.com">{{emailId}}</a></p>
          
              <p><strong>Phone:</strong></p>
              <p>+91 89397 05731</p>
          
              <p><strong>Business Hours:</strong></p>
              <p>Monday - Saturday: 10 AM to 9 PM</p>
            </div>
          </div>
    </section>
  </div>
  