<footer class="footer navbar-dark bg-dark">
    <div class="social-media-icons">
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://youtube.com" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://maps.google.com" target="_blank" aria-label="Location">
        <i class="fas fa-map-marker-alt"></i>
      </a>
    </div>
    <div class="copyright">
      <p>© 2024 All Rights Reserved.</p>
    </div>
  </footer>
  

<!-- 

  <section id="copy-right">
    <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>  
      Copyright © 2024, Prarthana Nature Cure <a href="#">skktech</a> 


    </div>

  </section>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="footer-about">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
                    </div>

        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <div class="useful-link">
            <h2>Useful Links</h2>
            <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
            <div class="use-links">
              <li><a href="index.html"><i class="fa-solid fa-angles-right"></i> Home</a></li>
              <li><a href="about.html"><i class="fa-solid fa-angles-right"></i> About Us</a></li>
              <li><a href="gallery.html"><i class="fa-solid fa-angles-right"></i> Gallery</a></li>
              <li><a href="contact.html"><i class="fa-solid fa-angles-right"></i> Contact</a></li>
            </div>
          </div>

        </div>
                  <div class="col-md-3  col-lg-3 col-xl-3 col-xxl-3">
                      <div class="social-links">
            <h2>Follow Us</h2>
            <img src="./assets/images/about/home_line.png" alt="">
            <div class="social-icons">
              <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
              <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
              <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
            </div>
          </div>
                  

                  </div>
        <div class="col-md-3">
          <div class="address">
            <h2>Address</h2>
            <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
            <div class="address-links">
              <li class="address1"><i class="fa-solid fa-location-dot"></i> Kolathur ramankulam-
                Malappuram Dt 
                 Kerala 679338</li>
                 <li><a href=""><i class="fa-solid fa-phone"></i> +91 90904500112</a></li>
                 <li><a href=""><i class="fa-solid fa-envelope"></i> mail.com</a></li>
            </div>
          </div>
        </div>
                
      </div>
    </div>

  </footer> -->
  <!-- footer section end -->
  <!-- footer copy right section start -->
  
  <!-- footer copy right section end -->